div.headd{
background-color:#CDB891;
}

img.typeimage{
float:left;
margin:10px;
width:180px;
height:180px;
}

div.typediv{
background-color:#C0DCC0;
margin:20px;
padding:10px;
height:220px;
}

.hhtt{
background-color:#132712;
}

div.fin{
background-color:#C0DCC0;
margin:20px;
padding:10px;
height:80px;
}